/.sconsign.dblite
/dist/*
/build/*
/docs/*
/nbproject/private/
/.vagrant/
/ignore
/TAGS
/data
/venv
/testdata
/.idea
/tests/vmsg_test_client.config
/tests/vmsg_test_server.config
__pycache__
*.egg-info
