/.sconsign.dblite
/dist/*
/build/*
/docs/*
*.rpc.*
*.vproto.*
*.metrics.*
/nbproject/private/
/.vagrant/
/ignore
/TAGS
/data
/venv
/venv2
/testdata
/.idea
/tests/vmsg_test_client.config
/tests/vmsg_test_server.config
parser.out
parsetab.py
__pycache__
.cache
*.egg-info
CMakeLists.txt
dummy_main.c
.gdb_history
