data_dir: "data"
vmsg: {
    env_id: 0
    local_address: "127.0.0.1"
    port: 4000
    module_resources = (
      {
        name : "E"
        num_send_buffers : 64
        num_recv_buffers : 64
      },
      {
        name : "P"
        num_send_buffers : 64
        num_recv_buffers : 64
      },
      {
        name : "TEST"
        num_send_buffers : 1024
        num_recv_buffers : 1024
      }
    )
}

global_traces: {

}

silo_types: {
  data_silo: {
    modules: {
      E: {
        io: {
          io_pool_count : 100
          io_provider : {
            devices = ()
          }
        }
        components: {
        }
        fibers: (
          {
            count: 50
            stack_size: 32768
            group_id: "E"
          },
          {
            count: 1
            stack_size: 32768
            group_id: "E_IO_POLLING"
          },
          {
            count: 1
            stack_size: 32768
            group_id: "E_VMSG_POLLING"
          }
        )
      }
      C: {
        components: {

        }
        fibers: (
          {
            count: 10
            stack_size: 65536
            group_id: "C"
          }
        )
      }
      TEST: {
          components: {

          }
          fibers: (
            {
              count: 10
              stack_size: 65536
              group_id: "TEST"
            }
          )
        }
    }
    traces: {

    }
  }
}

silos: (
  {
    type: "data_silo"
  },
  {
    type: "data_silo"
    affinity: 0
  }
)
