data_dir: "data"
vmsg: {
    env_id: 0
    local_address: "127.0.0.1"
    port: 4000
    module_resources = (
      {
        name : "E"
        num_send_buffers : 64
        num_recv_buffers : 64
      },
      {
        name : "TEST"
        num_send_buffers : 1024
        num_recv_buffers : 1024
      }
    )
}

global_traces: {
  PLASMA: {}
}

silo_types: {
  data_silo: {
    modules: {
      TEST : {
          components: {

          }
          fibers: (
            {
              count: 10
              stack_size: 8096
              group_id: "TEST"
            },
            {
              count: 50
              stack_size: 32768
              group_id: "E"
            }
          )
        }
    }
    traces: {
      PLASMA: {}
    }
  }
}

silos: (
  {
    type: "data_silo"
  },
  {
    type: "data_silo"
    affinity: 0
  }
)