silo_types: {
  data_silo: {
    modules: {
      MODULE_P : {
        components: {

        }
        fibers: (
          {
            count: 50
            stack_size: 4096
            group_id: "FIBER_GROUP_P_START"
          }
        )
      }
      MODULE_I : {
        components: {

        }
        fibers: (
          {
            count: 50
            stack_size: 4096
            group_id: "FIBER_GROUP_I_START"
          }
        )
      }
    }
  }
}

silos: (
  {
    type: "data_silo"
  },
  {
    type: "data_silo"
    affinity: 0
  }
)
