data_dir: "data"

silo_types: {
  data_silo: {
    modules: {
      MODULE_P : {
        io_module : {
          io_pool_count : 100

            io_provider : {
            devices = (
              {
                dev_path : "/tmp/lala",
                io_depth : 50
                device_size : 100000
              }
            )
          }
        }

        components: {
          
        }
        fibers: (
          {
            count: 50
            stack_size: 32368
            group_id: "FIBER_GROUP_P"
          },
          {
            count: 1
            stack_size: 8092
            group_id: "FIBER_GROUP_P_IO_POLLING"
          }
        )
      }
      MODULE_I : {
        components: {

        }
        fibers: (
          {
            count: 50
            stack_size: 8092
            group_id: "FIBER_GROUP_I_CHANGE_ME"
          }
        )
      }
    }
    traces: {
      COMPONENT_PLASMA: {}
    }
  }
}

silos: (
  {
    type: "data_silo"
  },
  {
    type: "data_silo"
    affinity: 0
  }
)
