data_dir: "data"

global_traces: {
  PLASMA: {}  
}

silo_types: {
  data_silo: {
    modules: {
      P : {
        io_module : {
          io_pool_count : 100

            io_provider : {
            devices = (
              {
                dev_path : "/tmp/lala"
                io_depth : 50
                device_size : 100000
              }
            )
          }
        }

        components: {
          
        }
        fibers: (
          {
            count: 50
            stack_size: 32368
            group_id: "P"
          },
          {
            count: 1
            stack_size: 8092
            group_id: "P_IO_POLLING"
          }
        )
      }
      I : {
        components: {

        }
        fibers: (
          {
            count: 50
            stack_size: 8092
            group_id: "I_TEST"
          }
        )
      }
      TEST : {
          components: {

          }
          fibers: (
            {
              count: 10
              stack_size: 8092
              group_id: "TEST"
            }
          )
        }
    }
    traces: {
      PLASMA: {}
    }
  }
}

silos: (
  {
    type: "data_silo"
  },
  {
    type: "data_silo"
    affinity: 0
  }
)
