io_module : {
    io_pool_count : 100

    io_provider : {
        devices = (
            {
                dev_path : "/tmp/io_provider_test_device_file1.tmp"
                io_depth : 50
                device_size : 100000
            },
            {
                dev_path : "/tmp/io_provider_test_device_file2.tmp"
                io_depth : 50
                device_size : 100000
            },
            {
                dev_path : "/tmp/io_provider_test_device_file3.tmp"
                io_depth : 50
                device_size : 100000
            }
        )
    }
}

